body {
    background-color: lightblue;
    background-image: url("kir-simakov-2nC0CkG3Ygo-unsplash.jpg");
    background-attachment: fixed;
    background-size:cover;
  }
h1 {
    color: #f2f2f2;
    text-align: center;
    font-size: 3em;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
}
div.text p {
    color: black;
    font-weight: 700;
    text-align: center;
}

div.text {
    align-self: center;
    /* float: left; */
    font-size: 1.5em;
    font-family:'楷体';
    background-color: rgba(255, 255, 255, 0.55);
    width: 60%;
    height: 100em;
    border-radius: 0.8em;
    padding: 0.2em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 7em;
}

/* 设置顶部导航栏的样式 */
.topnav {
    overflow: hidden;
    background-color: #333333;
    border-radius: 15px;
    margin: auto;
  }
  
  /* 设置 topnav 链接的样式 */
  .topnav a {
    margin: auto;
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
  }
  
  /* 改变鼠标悬停时的颜色 */
  .topnav a:hover {
    background-color: #f2f2f2;
    color: black;
  }

div.Avatar img {
    height: 5em;
    width: 5em;
}

div.Avatar {
    position: absolute;
    height: 5em;
    width: 5em;
    background-color: skyblue;
    margin: 0.3em;

    border-radius: 5em;
    overflow: hidden;
}

div.border {
    height: 5.6em;
    width: 5.6em;
    margin-top: 1em;
    margin-left:5.2em;
    position: absolute;
    background-color: lightcoral;
    border-radius: 6em; 
    transition: transform 1s;
}

div.border:hover {
    transform: scale(1.05,1.05) translate(0em,-0.6em);
}

div.menu {
    position: fixed;

    margin-top: 7em;
    height: 25em;
    width: 16em;
    background-color: skyblue;
    border-radius: 1.8em;
    box-shadow: 0em 0em 2em 1em #333333;
    transition: transform 0.7s;

}

div.menu:hover {
    transform: scale(1.05,1.05) translate(1em,-1em);
    box-shadow: 0em 0em 2em 1.2em #333333;
}

div.menu p.readme {
	position:absolute;
    color: lightcoral;
	width: 16em;
	top: 7em;
	font-weight: 700;
    text-align: center;
}

img.icon {
	position: absolute;
	top: 15em;
	height: 2em;
	width: 2em;
    transition: transform 0.5s;
}

img#GitHub_icon {left: 2.5em;}

img#QQ邮箱_icon {left: 7em;}

img#Link_icon {right: 2.5em;}

img.icon:hover {
	background-color: white;
	border-radius: 0.5em;
	box-shadow: 0em 0em 1em 0.1em black;
    transform: scale(1.1,1.1) translate(0em,-0.5em);
}

img.icon:active {
    background-color: rgb(241, 241, 241);
    transform: scale(1,1) translate(0em,0em);
}
